{% extends 'base.html.twig' %}

{% block title %}Edit Exercise{% endblock %}

{% block body %}
    <h1 class="my-5 text-center">Edit Exercise</h1>

     <div class="row">
        <div class="col-md-2">
            <a href="{{ path('professor_exercise_index') }}" class="btn btn-secondary"><< Back</a>
        </div>
        <div class="col-md-8">
            {{ include('professor/exercise/_form.html.twig', {'button_label': 'Update'}) }}
            </br>
            {{ include('professor/exercise/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
