{% extends 'base.html.twig' %}

{% block title %}New Exercise{% endblock %}

{% block body %}
    <h1 class="my-5 text-center">Create new Exercise</h1>

    <div class="row">
        <div class="col-md-2">
            <a href="{{ path('professor_exercise_index',{'id':app.user.id}) }}" class="btn btn-secondary"><< Back</a>
        </div>
        <div class="col-md-8">
            {{ include('professor/exercise/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
