{% extends 'base.html.twig' %}

{% block title %}New Professor{% endblock %}

{% block body %}
    <h1 class="my-5 text-center">Create new Professor</h1>

    <div class="row">
        <div class="col-md-2">
            <a href="{{ path('admin_professor_index') }}" class="btn btn-secondary"><< Back</a>
        </div>
        <div class="col-md-8">
            {{ include('admin/professor/_form.html.twig') }}
        </div>
    </div>

{% endblock %}
