{% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ type }} text-center my-2" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
{% endfor %}